<div class="ui olive inverted large menu">
    <% if logged_in? %>
        <%= link_to "Chatroom", root_path, class: "active item" %>
    <% else %>
        <%= link_to "Log in", login_path, class: "active item" %>
    <% end %>
    <div class="right menu">
        <% if logged_in? %>
            <div class="item">
                <%= link_to "Log out", logout_path, class: "ui primary button", method: :delete %>
            </div>
        <% else %>
            <div class="item">
                <div class="ui primary button">Sign Up</div>
            </div>
        <% end %>
    </div>
</div>