<div class="ui olive inverted large menu">
    <%= link_to "Chatroom", root_path, class: "active item" %>
    <a class="item">Messages</a>
    <div class="right menu">
        <div class="ui dropdown item">
            Account <i class="dropdown icon"></i>
            <div class="menu">
                <% if logged_in? %>
                    <%= link_to "Log out", logout_path, class: "item", method: :delete %>
                <% else %>
                    <%= link_to "Log in", login_path, class: "item" %>
                <% end %>
            </div>
        </div>
        <%
=begin%>
 <div class="item">
            <div class="ui primary button">Sign Up</div>
        </div> 
<%
=end%>
    </div>
</div>